<!-- jQuery - requerido -->
<script src="{{ url_for('static', filename='assets/vendor/libs/jquery/jquery.js') }}"></script>

<!-- Bootstrap y dependencias -->
<script src="{{ url_for('static', filename='assets/vendor/libs/popper/popper.js') }}"></script>
<script src="{{ url_for('static', filename='assets/vendor/js/bootstrap.js') }}"></script>

<!-- Scripts del tema -->
<script src="{{ url_for('static', filename='assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js') }}"></script>
<script src="{{ url_for('static', filename='assets/vendor/js/menu.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
<script src="{{ url_for('static', filename='assets/customJS/sidebar-coresense.js') }}"></script>
<script src="{{ url_for('static', filename='assets/customJS/home.js') }}"></script>
<script src="{{ url_for('static', filename='assets/customJS/buscador.js') }}"></script>

<!-- DataTables JS -->
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
<script src="{{ url_for('static', filename='assets/customJS/datatables-init.js') }}"></script>
